<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Gestion des procédés de fabrication</b></h4>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-success" (click)="AddProcess()">
                <i class='fas fa-plus-circle'></i><span> Ajouter un nouveau procédé de fabrication </span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Nom</th>
              <th>Description</th>
              <th>Modèle freezbe</th>
              <th>Etapes</th>
              <th>Descriptions validations tests</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let process of processList" class="center-align">
              <td>{{ process.name }}</td>
              <td>{{ process.description }}</td>
              <td>{{ process.modele }}</td>
              <td>{{ process.etapes }}</td>
              <td>{{ process.test }}</td>
              <td>
                <a href="#" [routerLink]="['/EditProcess/', process.id]" class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" (click)="deleteProcessConfirmation(process)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </tr>
            <tr>
                <td *ngIf="processList.length == 0" colspan="6">Pas de data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>