<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Gestion des freezbe</b></h4>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-success" (click)="AddFreezbe()">
                <i class='fas fa-plus-circle'></i><span> Ajouter un nouveau Freezbe</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Nom</th>
              <th>Description</th>
              <th>pUHT</th>
              <th>Gamme</th>
              <th>Ingrédients</th>
              <th>Grammage</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let freezbe of freezbeList" class="center-align">
              <td>{{ freezbe.name }}</td>
              <td>{{ freezbe.description }}</td>
              <td>{{ freezbe.pUHT }}</td>
              <td>{{ freezbe.gamme }}</td>
              <td>{{ freezbe.ingredients }}</td>
              <td>{{ freezbe.grammage }}</td>
              <td>
                <a href="#" [routerLink]="['/EditFreezbe/', freezbe.id]" class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" (click)="deleteFreezbeConfirmation(freezbe)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </tr>
            <tr>
              <td *ngIf="freezbeList.length == 0" colspan="6">Pas de data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>